APP_KEY=aM6Mi0fgN3p4WJNFOH6DftV61lZVoEir
BASE_URL=http://localhost:3333/api/v1
PORT=3333
SLS_DEBUG=*

DB_TYPE=mysql
DB_PORT=3306
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=ehrlich

CORS=true
CORS_ORIGIN=

CLOUDINARY_CLOUD_NAME=dyexxqdis
CLOUDINARY_API_KEY=632987316271497
CLOUDINARY_API_SECRET=kD_AwWqIkxmVBXwG0abVdqgERx4


PEXEL_API_KEY=563492ad6f91700001000001935c90677ec9422383d87d0408685e79